body
{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container
{
    background-color: rgb(202, 147, 202);
    border: 2px solid black;

    height: 500px;
    width: 1200px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}